body {

    font-family: Arial, Helvetica, sans-serif;

    background-color: #ccc8c8;

    margin: 0;

    padding: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

}

.calculadora {

    width: 300px;

    background-color: #fff;

    border: 1px sold #ccc;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 20px;

    box-sizing: border-box;

}

.calculadora h2 {

    margin-top: 0;

    text-align: center;

    font-size: 24px;

    color: #333;
}